<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wordpress.ishansaysjava.advisingscheduler" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CourseListActivity"
            android:label="@string/title_activity_course_list" >
        </activity>
        <activity
            android:name=".AddCourseActivity"
            android:label="@string/title_activity_add_course" >
        </activity>
        <activity
            android:name=".CourseActivity"
            android:label="@string/title_activity_course" >
        </activity>
    </application>

</manifest>
